*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base: #555;
    --base-100: #f1f1f1;
    --base-400: #555;
    --base-800: #000;
    --yellow: #ffda4b;
    --yellow-100: #fffbe6;
    --yellow-400: #ffda4b;
    --yellow-800: #8b6f00;
    --blue: #0a61ae;
    --blue-100: #e2f8ff;
    --blue-400: #61dafb;
    --blue-800: #0a61ae;
}



html,body {
    height: 100%;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1; 
}
 
main {
    flex: 1;
}

a {
    text-decoration: none;
    color: var(--blue);
}
a:hover {
    text-decoration: underline;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
header .logo-holder {
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 600;
    color: var(--base-800);
}
header .logo-holder .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--base-800);
    color: var(--base-100);
    height: 64px;
    width: 64px;
    margin-right: 20px;
    border-radius: 50%;
}
header .logo-holder .logo-text {
    flex: 1;
}
header nav {
    display: flex;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style-type: none;
    gap: 5px;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--base);
}
header nav ul li a:hover {
    background-color: var(--base-100);
    border-radius: 10px;
}
header nav .mobile-toggle {
    display: none;
    color: var(--base-800);
    padding: 10px;
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        margin-top: 10px;
        width: 100%;
    }
    header nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    header nav ul a {
        width: 100%;
    }
    header nav ul.active {
        display: flex;
    }
    header nav .mobile-toggle {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

section {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 1440px) {
    section {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--blue);
    color: var(--base-100);
    border-radius: 10px;
    transition: ease 0.3s all;
}
.button:hover {
    text-decoration: none;
    background-color: var(--base-800);
}
.button.white {
    background-color: white;
    color: var(--base-800);
}
.button.white:hover {
    background-color: var(--base-100);
    color: var(--base);
}
.button.black {
    background-color: black;
    color: white;
}
.button.black:hover {
    background-color: var(--base);
    color: var(--base-100);
}

h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
}
h1 small {
    display: block;
    font-weight: 100;
}
@media (max-width: 1024px) {
    h1 {
        font-size: 48px;
    }
}



.hero {
    display: flex;
}
@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
    }
}
.hero .hero-blue {
    flex: 1;
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero .hero-blue span {
    display: none;
}
@media (max-width: 768px) {
    .hero .hero-blue span {
        display: none;
    }
}

.hero .hero-blue .call-to-action {
    margin-top: 20px;
    margin-bottom: 10px;
}
.hero .hero-blue .call-to-action a {
    margin-right: 10px;
    margin-bottom: 10px;
}
.hero .hero-blue .social-links a:hover {
    text-decoration: none;
}
.hero .hero-yellow {
    flex: 1;
    background-color: var(--yellow);
    border-radius: 30px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero .hero-yellow img {
    margin-top: -60px;
    max-width: 420px;
    margin-bottom: -10px;
}

.logos {
    background-color: var(--base-100);
    border-radius: 30px;
    padding: 30px 0;
}
@media (max-width: 1440px) {
    .logos {
        border-radius: 0;
    }
}
.logos .marquee {
    width: 100vw;
    max-width: 100%;
    height: 128px;
    overflow: hidden;
    position: relative;
}
.logos .marquee .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
    display: flex;
    gap: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

h2 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: var(--base-800);
    padding: 30px;
}
h2 small {
    display: block;
    font-weight: 100;
    font-size: 0.5em;
    color: var(--base);
}
@media (max-width: 1024px) {
    h2 {
        font-size: 48px;
    }
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--base-800);
}

.skills .holder-blue {
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    display: flex;
}
@media (max-width: 1024px) {
    .skills .holder-blue {
        flex-direction: column;
    }
}
.skills .holder-blue .left-column {
    flex: 1;
}
.skills .holder-blue .left-column ul {
    list-style-type: none;
    gap: 10px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.skills .holder-blue .left-column ul li {
    display: inline-block;
    background-color: var(--blue-400);
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.skills .holder-blue .right-column {
    flex: 1;
}
.skills .holder-blue .right-column p {
    margin-bottom: 20px;
}

.work-experience .jobs {
    display: flex;
    gap: 30px;
}
@media (max-width: 1024px) {
    .work-experience .jobs {
        flex-direction: column;
    }
}
.work-experience .jobs article {
    background-color: var(--yellow-100);
    padding: 30px;
    border-radius: 30px;
    flex: 1;
}
.work-experience .jobs article h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.work-experience .jobs article div {
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--base-800);
}
.work-experience .jobs article p {
    margin-bottom: 10px;
}
.work-experience .jobs article figure {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}
.work-experience .jobs article figure img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    transition: ease 3s all;
}
.work-experience .jobs article figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: var(--base-100);
    text-align: center;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: ease 0.3s all;
}
.work-experience .jobs article figure:hover figcaption {
    opacity: 1;
    visibility: visible;
}
.work-experience .jobs article figure:hover img {
    transform: scale(1.2);
}

.bento .bento-grid {
    display: grid;
    grid-gap: 30px; /* Space between grid items */
    grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
    grid-template-rows: repeat(2, 1fr); /* Creates a 2-row grid */
    height: auto; /* Auto height to accommodate content */
}

@media (max-width: 1024px) {
    .bento .bento-grid {
        grid-template-columns: 1fr; /* Switch to a single column grid for smaller screens */
        grid-template-rows: auto; /* Automatic row count based on content */
    }
}

@media (max-width: 768px) {
    .bento .bento-grid {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: auto;
    }
}

.bento .bento-grid .bento-item {
    padding: 0;
    background-color: var(--base-100);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bento .bento-grid .bento-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Faster transition for hover effect */
}

.bento .bento-grid .bento-item:hover img {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

@media (max-width: 768px) {
    .bento .bento-grid .bento-item {
        height: auto;
    }
}

.about-me {
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
}
.about-me h1 {
    font-size: 2.5rem;
    color: var(--blue-800);
    margin-bottom: 20px;
}
.about-me p {
    font-size: 1.25rem;
    color: var(--base-800);
    margin-bottom: 20px;
}
.about-me ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}
.about-me ul li {
    background-color: var(--blue-400);
    color: var(--base-800);
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: inline-block;
}

@media (max-width: 1024px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }
    header nav ul li {
        margin-bottom: 10px;
    }
    .about-me {
        padding: 20px;
    }
    .about-me h1 {
        font-size: 2rem;
    }
    .about-me p {
        font-size: 1rem;
    }
    .about-me ul li {
        padding: 10px;
    }
}

.spotify-playlist {
    text-align: center;
    margin-top: 30px;
}
.spotify-playlist h2 {
    font-size: 2rem;
    color: var(--blue-800);
    margin-bottom: 20px;
}
.spotify-playlist iframe {
    border-radius: 20px;
}

.resume {
    max-width: 1200px;
    margin: auto;
    background-color: var(--base-100);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 30px;
}

.resume h1 {
    font-size: 2.5rem;
    color: var(--blue-800);
    margin-bottom: 20px;
    text-align: center;
}

.resume h2 {
    font-size: 2rem;
    color: var(--blue-800);
    margin-top: 30px;
    margin-bottom: 10px;
}

.resume p, .resume ul, .resume a {
    font-size: 1.25rem;
    color: var(--base-800);
    margin-bottom: 10px;
}

.resume ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.resume ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.resume a {
    color: var(--blue);
    text-decoration: none;
}

.resume a:hover {
    text-decoration: underline;
}

.resume .button {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--blue);
    color: var(--base-100);
    border-radius: 10px;
    transition: ease 0.3s all;
    text-align: center;
    margin-top: 20px;
}

.resume .button:hover {
    background-color: var(--base-800);
    color: var(--base-100);
}

@media (max-width: 1024px) {
    .resume {
        padding: 20px;
    }

    .resume h1 {
        font-size: 2rem;
    }

    .resume h2 {
        font-size: 1.75rem;
    }

    .resume p, .resume ul, .resume a {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .resume {
        padding: 15px;
    }

    .resume h1 {
        font-size: 1.75rem;
    }

    .resume h2 {
        font-size: 1.5rem;
    }

    .resume p, .resume ul, .resume a {
        font-size: 0.875rem;
    }
}

.projects {
    max-width: 1200px;
    margin: auto;
    background-color: var(--blue-800);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 30px;
    text-align: center;
}

.projects p {
    font-size: 2rem;
    color: var(--base-100);
    margin-bottom: 20px;
}

.projects ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.projects ul li {
    background-color: var(--blue-100);
    color: var(--base-800);
    padding: 15px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.projects ul li a {
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
}

.projects ul li a:hover {
    text-decoration: underline;
}

.projects ul li:hover {
    background-color: var(--blue-400);
    color: var(--base-100);
}

@media (max-width: 1024px) {
    .projects {
        padding: 20px;
    }

    .projects p {
        font-size: 1.75rem;
    }

    .projects ul li {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .projects {
        padding: 15px;
    }

    .projects p {
        font-size: 1.5rem;
    }

    .projects ul li {
        font-size: 0.875rem;
    }
}

.associations {
    max-width: 1200px;
    margin: auto;
    background-color: var(--base-100);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 30px;
    text-align: center;
    flex: 1; /* Ensure it takes the remaining space */
}

.associations h1 {
    font-size: 2.5rem;
    color: var(--blue-800);
    margin-bottom: 20px;
}

.associations ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.associations ul li {
    background-color: var(--blue-100);
    color: var(--base-800);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.associations ul li:hover {
    background-color: var(--blue-400);
    color: var(--base-100);
    transform: translateY(-10px);
}

.associations ul li a {
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.associations ul li a:hover {
    color: var(--base-100);
}

.associations ul li p {
    margin-top: 10px;
    font-size: 1rem;
    color: var(--base-800);
    transition: color 0.3s ease;
}

.associations ul li:hover p {
    color: var(--base-100);
}

@media (max-width: 1024px) {
    .associations {
        padding: 20px;
    }

    .associations h1 {
        font-size: 2rem;
    }

    .associations ul li {
        padding: 15px;
    }

    .associations ul li a {
        font-size: 1rem;
    }

    .associations ul li p {
        font-size: 0.875rem;
    }
}

@media (max-width: 768px) {
    .associations {
        padding: 15px;
    }

    .associations h1 {
        font-size: 1.75rem;
    }

    .associations ul li {
        padding: 10px;
    }

    .associations ul li a {
        font-size: 0.875rem;
    }

    .associations ul li p {
        font-size: 0.75rem;
    }
}

.contact {
    background-color: var(--primary);
    border-radius: 30px;
    padding: 30px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    text-align: center;
}

.contact h1 {
    font-size: 2.5rem;
    color: var(--base-400);
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.25rem;
    color: var(--base-400);
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--base-100);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact form label {
    font-weight: 600;
    color: var(--base-800);
    font-size: 1.25rem;
}

.contact form input,
.contact form textarea {
    padding: 15px;
    border: 1px solid var(--base-400);
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--background);
}

.contact form input:focus,
.contact form textarea:focus {
    outline: none;
    border-color: var(--primary);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form button {
    align-self: center;
    padding: 10px 30px;
    background-color: var(--secondary);
    color: var(--base-100);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact form button:hover {
    background-color: var(--accent);
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .contact {
        padding: 20px;
    }

    .contact h1 {
        font-size: 2rem;
    }

    .contact p {
        font-size: 1rem;
    }

    .contact form {
        padding: 20px;
    }

    .contact form label {
        font-size: 1rem;
    }

    .contact form button {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 15px;
    }

    .contact h1 {
        font-size: 1.75rem;
    }

    .contact p {
        font-size: 0.875rem;
    }

    .contact form {
        padding: 15px;
    }

    .contact form label {
        font-size: 0.875rem;
    }

    .contact form button {
        font-size: 0.875rem;
    }
}

.sitemap h1 {
    font-size: 2.5rem;
    color: var(--base-400);
    margin-bottom: 20px;
}

.sitemap ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.25rem;
    color: var(--base-400);
}

.sitemap ul li {
    margin-bottom: 15px;
}

.sitemap ul li a {
    color: var(--base-400);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sitemap ul li a:hover {
    background-color: var(--secondary);
    color: var(--base-800);
}

@media (max-width: 1024px) {
    .sitemap {
        padding: 20px;
    }

    .sitemap h1 {
        font-size: 2rem;
    }

    .sitemap ul {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .sitemap {
        padding: 15px;
    }

    .sitemap h1 {
        font-size: 1.75rem;
    }

    .sitemap ul {
        font-size: 0.875rem;
    }
}




footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--base-100);
    border-top: 1px solid rgba(0,0,0,0.1);
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: var(--blue);
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}